[Unit]
Description=Dofler Service
After=mariadb.service

[Service]
Restart=always
WorkingDirectory=/opt/dofler
Environment=NODE_ENV=production
ExecStart=/root/.nvm/current/bin/node /opt/dofler/server.js

[Install]
WantedBy=multi-user.target
