doctype html
html(lang="en")
	head
		title=title
		link(rel="stylesheet", href="/static/css/bootstrap.min.css")
		link(rel="stylesheet", href="/static/css/display.min.css")
		link(rel="stylesheet", href="/static/css/dofler.css")
		script(src="/socket.io/socket.io.js")
	body
		div.navbar.navbar-inverse.navbar-fixed-top
			div.container
				div.navbar-header
					img(src="/static/img/logo.png")
					span#version v#{version} | dofler.net
					button(class="navbar-toggle", type="button", data-toggle="collapse", data-target="#navbar-main")
						span.icon-bar
						span.icon-bar
						span.icon-bar
				div#navbar-main.navbar-collapse.collapse.pull-right
					a(href="#", class="navbar-brand" id="slogan") #{slogan}
					ul.nav.navbar-nav
						li.dropdown
							a(class="dropdown-toggle", data-toggle="dropdown", href="#" id="sidebar-controller") Options
								span.caret
							ul(class="dropdown-menu", aria-labbelledby="sidebar-controller")
								li
									a(href="#" onclick="$('#slogan').toggle();") Toggle Slogan
								li
									a(href="#" onclick="$('#accounts-wrapper').toggle();") Toggle Accounts
								li
									a(href="#" onclick="$('#host-vulns-wrapper').toggle();") Toggle Top Hosts
								li
									a(href="#" onclick="$('#top-vulns-wrapper').toggle();") Toggle Top Vulns
								li
									a(href="#" onclick="$('#stats-wrapper').toggle();") Toggle Network Stats
								li.divider
								li 
									a(href="#" onclick="$('#images').empty()") Clear Existing Images
								li NSFW Ceiling
									input(id="nsfw-ceiling", type="text", name="nsfw-ceiling", value="70")
								li Debugging
									input(id="debug", type="checkbox")
								li Removable Images
									input(id="removable-images", type="checkbox")
								li.divider
								li
									a(href="#") Generate Report
		div#wrapper.container
			div#images-wrapper.container
				div.container-fluid
					div#images
			div#sidebar-wrapper.container.pull-right
				div(id="accounts-wrapper", class=["panel", "panel-primary"])
					div.panel-heading
						h3.panel-title Accounts
							span#account-total.pull-right 0
					div.panel-body
						table#accounts-list.table
							tbody
				div(id="host-vulns-wrapper", class=["panel", "panel-primary"])
					div.panel-heading
						h3.panel-title Top Vulnerable Hosts
					div.panel-body
						table#top-vulnerable-hosts
							tbody
				div(id="top-vulns-wrapper", class=["panel", "panel-primary"])
					div.panel-heading
						h3.panel-title Top Vulnerabilities
					div.panel-body
						ul#top-vulnerabilities.list-group
				div(id="stats-wrapper", class=["panel", "panel-primary"])
					div.panel-heading
						h3.panel-title Network Stats
					div.panel-body
						#proto-analysis
		script(src="/static/js/jQuery-1.10.2.min.js")
		script(src="/static/js/jquery.flot.min.js")
		script(src="/static/js/jquery.flot.time.min.js")
		script(src="/static/js/bootstrap.min.js")
		script(src="/static/js/bootswatch.js")
		script(src="/static/js/string.js")
		script(src="/static/js/dofler.js")
		script.
			display();