html{ 
  width: 100%; 
  height: 100%;
  font-family: "Verdana"; 
  font-size: 15;
  margin: none;
}

h2{ 
  font-size: 30pt
}

body{ 
  background-color: #000000; 
  color: #ffffff; 
}

/* Notification Messages */

#notifications .message {
  background: #a6ca8a;
  border: 1px solid #a6ca8a;
  position: absolute;
  padding:10px 10px 10px 36px;
  margin: 0 auto 20px auto;
  width: 500px;
  top: 0px;
  left: auto;
  right: auto;
  font-weight: bold;
}

/* Error Messages */

#errors .message {
  background: #ffecec;
  border:1px solid #f5aca6;
  position: absolute;
  padding:10px 10px 10px 36px;
  margin: 0 auto 20px auto;
  width: 500px;
  top: 0px;
  left: auto;
  right: auto;
  font-weight: bold;

}

/* Status Page */

.ui-parser {
  height: 20px;
  padding: 10px;
  margin: 5px;
  vertical-align: center;
}

.ui-parser span {
  width: 200px;
  text-align: right;
}

/* Link Buttons */

.ui-button {
  padding: 10px 15px;
  background: #4479BA;
  color: #FFF;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  border-radius: 4px;
  border: solid 1px #20538D;
  text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.4);
  -webkit-box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.4), 0 1px 1px rgba(0, 0, 0, 0.2);
  -moz-box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.4), 0 1px 1px rgba(0, 0, 0, 0.2);
  box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.4), 0 1px 1px rgba(0, 0, 0, 0.2);
  -webkit-transition-duration: 0.2s;
  -moz-transition-duration: 0.2s;
  transition-duration: 0.2s;
  -webkit-user-select:none;
  -moz-user-select:none;
  -ms-user-select:none;
  user-select:none;
}
.ui-button:hover {
  background: #356094;
  border: solid 1px #2A4E77;
  text-decoration: none;
}
.ui-button:active {
  -webkit-box-shadow: inset 0 1px 4px rgba(0, 0, 0, 0.6);
  -moz-box-shadow: inset 0 1px 4px rgba(0, 0, 0, 0.6);
  box-shadow: inset 0 1px 4px rgba(0, 0, 0, 0.6);
  background: #2E5481;
  border: solid 1px #203E5F;
}

/* Navigation */

#navbar {
  position: absolute;
  background-color: #333333;
  padding-left: 5px;
  padding-bottom: 2px;
  font-size: 12px;
  border-color: grey;
  border-left-style: solid;
  border-bottom-style: solid;
  border-bottom-left-radius: 5px;
  border-left-width: medium;
  border-bottom-width: medium;
  top: 0px;
  right: 0px;
}

#navbar ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

#navbar li {
  display: inline;
}

#navbar a:link {color: white;}
#navbar a:visited {color: white}
#navbar a:hover {color: grey;}


#content { 
  width: 100%; 
  margin: 0 auto;
}

/* Settings Page */

#ui-settings {
  left: auto;
  right: auto;
  width: 550px;
}

#ui-settings .label {
  text-align: right;
}

#ui-settings tr {
  border-bottom: 1px solid;
}

/* Login & New User Pages */

#login {
  width: 550px;
  height: 250px;
  bottom: 50%;
  left: 50%;
  margin-left: -275px;
  margin-top: -125px;
  position: fixed;
  padding: 5px;
  -moz-border-radius: 5px;
  border-radius: 5px;
  border-width: thin;
  border-color: gray;
  border-style: solid;
}

/* Image Display */

#ui-images {
  position: absolute;
  top: 0px;
  left: 0px;
  width: 100%;
  height: 100%;
  overflow: none;
}

#ui-images img { 
  margin-top: 5px; 
  max-height: 400px; 
  max-width: 400px; 
  margin-left: 5px; 
  display: block; 
  float: left;
}

/* Account Display */

#ui-accounts { 
  position: absolute;
  top: 3em;
  right: 30em;
  height: 100%; 
  width: 13em;
}


#accounts-table-title {
  font-size: 22px;
}

#ui-accounts table thead{ 
  font-weight: bold;
  text-align: center;
}

#ui-accounts table td {
  padding: 5px;
}

#ui-accounts table thead td {
  background-color: #333333; 
  color: #ffffff;
  padding: 5px;
  -moz-border-radius: 5px;
  border-radius: 5px;
  border-width: thin;
}

#ui-accounts table tfoot td {
  background-color: #333333; 
  color: #ffffff;
  text-align: right;
  padding: 5px;
  -moz-border-radius: 5px;
  border-radius: 5px;
  border-width: thin;
}

#ui-accounts table {
  background-color: #000000;
  width: 512px;
  color: #ffffff;
  padding: 5px;
  -moz-border-radius: 15px;
  border-radius: 15px;
  border-width: medium;
  border-style: solid;
  border-color: gray;
}

/* Stats Display */

#ui-stats {
  position: fixed;
  width: 850px;
  height: 200px;
  bottom: 0px;
  left: 0px;
  padding: 5px;
  background-color: #000000;
  color: #ffffff;
  padding: 5px;
  -moz-border-radius: 15px;
  border-radius: 15px;
  border-width: medium;
  border-style: solid;
  border-color: gray;
}

#proto-trend {
  width: 800px;
  height: 100%;
  float: right;
}

#proto-legend {
  width: 45px;
  height: 100%;
  float: left;
  background-color: #000000;
}