html{ 
  width: 100%; 
  height: 100%;
  font-family: "Verdana"; 
  font-size: 15;
  margin: none;
}

h2{ 
  font-size: 30pt
}

body{ 
  background-color: #000000; 
  color: #ffffff; 
}

/* Notification Messages */

#notifications .message {
  background: #a6ca8a;
  border: 1px solid #a6ca8a;
  position: absolute;
  padding:10px 10px 10px 36px;
  margin: 0 auto 20px auto;
  width: 500px;
  top: 0px;
  left: auto;
  right: auto;
  font-weight: bold;
}

/* Error Messages */

#errors .message {
  background: #ffecec;
  border:1px solid #f5aca6;
  position: absolute;
  padding:10px 10px 10px 36px;
  margin: 0 auto 20px auto;
  width: 500px;
  top: 0px;
  left: auto;
  right: auto;
  font-weight: bold;

}

/* Status Page */

.ui-parser {
  margin-top: 25px;
  height: 20px;
  padding: 10px;
  padding-bottom: 25px;
  margin: 5px;
  width: 100%;
  vertical-align: center;
  border-bottom-width: thin;
  border-bottom-style: solid;
  border-bottom-color: grey;
}

.ui-parser span {
  width: 200px;
  text-align: right;
}

.ui-parser .ui-button {
  float: right;
  margin-right: 10px;
}

#ui-parsers {
  margin-top: 50px;
}

#ui-parsers input[type="submit"] {
  padding: 10px 15px;
  background: #4479BA;
  color: #FFF;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  border-radius: 4px;
  border: solid 1px #20538D;
  text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.4);
  -webkit-box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.4), 0 1px 1px rgba(0, 0, 0, 0.2);
  -moz-box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.4), 0 1px 1px rgba(0, 0, 0, 0.2);
  box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.4), 0 1px 1px rgba(0, 0, 0, 0.2);
  -webkit-transition-duration: 0.2s;
  -moz-transition-duration: 0.2s;
  transition-duration: 0.2s;
  -webkit-user-select:none;
  -moz-user-select:none;
  -ms-user-select:none;
  user-select:none;
}

/* Navigation */

#navbar {
  position: absolute;
  background-color: #333333;
  padding-left: 5px;
  padding-bottom: 2px;
  font-size: 12px;
  border-color: grey;
  border-left-style: solid;
  border-bottom-style: solid;
  border-bottom-left-radius: 5px;
  border-left-width: medium;
  border-bottom-width: medium;
  top: 0px;
  right: 0px;
}

#navbar a:link {color: white;}
#navbar a:visited {color: white}
#navbar a:hover {color: grey;}


#content { 
  width: 100%; 
  margin: 0 auto;
}

/* Settings Page */

#settings-sidebar {
  width: 20%;
  height: 100%;
  display: block;
  position: absolute;
  top: 0px;
  left: 0px;
  border-right-style: solid;
  border-right-width: 1px;
  border-right-color: #fff;
}

#settings-sidebar ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

#settings-sidebar li {
  height: 35px;
  border-style: solid;
  border: 1px;
  border-color: #fff;
  background-color: rgba(65, 70, 70, 0.4);
  vertical-align: middle;
}

#settings-sidebar li#menu_selected {
  background-color: #1A3380;
}

#settings-sidebar img {
  vertical-align: middle;
  padding-right: 15px;
}

#settings-sidebar h2 {
  font-size: 1em;
  text-align: center;
}

#settings-sidebar a {
  color: #fff;
  text-decoration: none;
}

#settings-sidebar a:visited {
  color: #fff;
}

#settings-sidebar a:hover {
  color: #fff;
}

#settings-content {
  width: 79%;
  height: 100%;
  padding-top: 20px;
  display: block;
  position: absolute;
  top: 0px;
  right: 0px;
}

#settings-content label {
  width: 300px;
}

#settings-content label:before {
  content:"\A"; 
  white-space:pre;
}

#settings-content input[type="text"], input[type="password"] {
  border-style: none;
  border-bottom: 2px;
  border-bottom-style: solid;
  border-bottom-color: #fff;
  color: #c7c8c8;
  font-family: "Verdana"; 
  background: #000;
}

#settings-content input[type="submit"]:before {
  content:"\A"; 
  white-space:pre;
}

/* Image Display */

#ui-images {
  position: absolute;
  top: 0px;
  left: 0px;
  width: 100%;
  height: 100%;
  overflow: none;
}

#ui-images img { 
  margin-top: 5px; 
  max-height: 400px; 
  max-width: 400px; 
  margin-left: 5px; 
  display: block; 
  float: left;
}

/* Account Display */

#ui-accounts { 
  position: absolute;
  top: 3em;
  right: 30em;
  height: 100%; 
  width: 13em;
}


#accounts-table-title {
  font-size: 22px;
}

#ui-accounts table thead{ 
  font-weight: bold;
  text-align: center;
}

#ui-accounts table td {
  padding: 5px;
}

#ui-accounts table thead td {
  background-color: #333333; 
  color: #ffffff;
  padding: 5px;
  -moz-border-radius: 5px;
  border-radius: 5px;
  border-width: thin;
}

#ui-accounts table tfoot td {
  background-color: #333333; 
  color: #ffffff;
  text-align: right;
  padding: 5px;
  -moz-border-radius: 5px;
  border-radius: 5px;
  border-width: thin;
}

#ui-accounts table {
  background-color: #000000;
  width: 512px;
  color: #ffffff;
  padding: 5px;
  -moz-border-radius: 15px;
  border-radius: 15px;
  border-width: medium;
  border-style: solid;
  border-color: gray;
}

/* Stats Display */

#ui-stats {
  position: fixed;
  width: 70%;
  height: 200px;
  bottom: 0px;
  left: 0px;
  padding: 5px;
  background-color: #000000;
  color: #ffffff;
  padding: 5px;
  -moz-border-radius: 15px;
  border-radius: 15px;
  border-width: medium;
  border-style: solid;
  border-color: gray;
}

#proto-trend {
  width: 90%;
  height: 100%;
  float: right;
}

#proto-legend {
  width: 10%;
  height: 100%;
  float: left;
  background-color: #000000;
}