{% extends "base.html" %}
{% block title %}Login{% endblock %}
{% block navbar %}<li><a href="/">Return</a></li> | {% endblock %}
{% block content %}
<div id="login">
	<form action="/ui/login" method="post">
		<h2>DoFler Login</h2>
		<small><p>The Dashboard of Fail</p></small>
		<table>
			<tr>
				<td class="label">Username</td>
				<td class="input"><input type="text" name="username"></td>
			</tr>
			<tr>
				<td class="label">Password</td>
				<td class="input"><input type="password" name="password"></td>
			</tr>
			<tr>
				<td class="submit" colspan="2"><input type="submit" value="Login" /></td>
			</tr>
		</table>
	</form>
</div>
{% endblock %}