{% extends "base.html" %}
{% block title %}Viewer{% endblock %}
{% block stylesheets %}<style> html {overflow: hidden;}</style>{% endblock %}
{% block navbar %}
    {% if show_settings %}
        <a href="/ui/settings"><img src="/static/images/ui_settings.png" />Settings</a>
    {% endif %}
{% endblock %}
{% block content %}

{% if web_images: %}
<div id="ui-images">
    <script language="javascript">
    image_ts = 0;
    function ui_images() {
        $.getJSON('/get/reset/images', function(reset){
            if (reset){
                $('.dofler-img').remove();
            };
            $.getJSON('/get/images/' + image_ts, function(data){
                $.each(data, function(key, val){
                    if ($('img[src="/get/image/' + val.md5sum + '"]').length < 1){
                        image_ts = val.timestamp;
                        if (!reset){
                            $('#ui-images').prepend('<img class="dofler-img" src="/get/image/' + val.md5sum + '" />');
                            if ($('.dofler-img').length > {{ web_image_max }}){
                                $('.dofler-img:last').remove();
                            };
                        };
                    };
                });
            });
        });
    };
    ui_images();
    window.setInterval(ui_images, {{ web_image_delay * 1000 }});
    </script>
</div>
{% endif %}

{% if web_accounts %}
<div id="ui-accounts">
    <div id="actual-accounts">
        <table id="accounts-table">
            <thead>
                <td colspan="4" id="accounts-table-title">
                    Captured Accounts
                </td>
            </thead>
            <thead>
                <td>Address</td>
                <td>Protocol</td>
                <td>Username</td>
                <td>Password</td>
            </thead>
            <tbody>
            </tbody>
            <tfoot>
                <td colspan="4" id="accounts-total"></td>
            </tfoot>
        </table>
    </div>
    <script language="javascript">
    account_id = 0;
    function ui_accounts() {
        $.getJSON('/get/reset/accounts', function(reset){
            if (reset){
                $('.dofler-account').remove();
            };
            $.getJSON('/get/accounts/' + account_id, function(data){
                $.each(data, function(key, val){
                    account_id = val.id;
                    $('#accounts-table tbody').prepend('<tr class="dofler-account">' + '<td>' + val.info.substr(0,28) + '</td><td>' + val.proto + '</td><td>' + val.username + '</td><td>' + val.password.substr(0,15) + '</td></tr>');
                    if ($('.dofler-account').length > {{ web_account_max }}){
                        $('.dofler-account:last').remove();
                    };
                });
            });
        });
    };
    ui_accounts();
    window.setInterval(ui_accounts, {{ web_account_delay * 1000 }});
    </script>
</div>
{% endif %}

{% if web_stats %}
<div id="ui-stats">
    <div id="proto-trend"></div>
    <div id="proto-legend"></div>
    <script language="javascript">
    function ui_stats() {
        $.getJSON('/get/stats/{{ web_stat_max }}', function(data){
            $.plot('#proto-trend', data, {xaxis: { mode: "time", position: "right"}, legend: {container: $('#proto-legend')}});
        });
    };
    ui_stats();
    window.setInterval(ui_stats, {{ web_stat_delay * 1000 }});
    </script>
</div>
{% endif %}
{% endblock %}