{% extends "base.html" %}
{% block title %}New User{% endblock %}
{% block content %}
<div id="return-to-main"><a href="/">Return to Main Screen</a></div>
<div id="login">
	<form action="/ui/new" method="post">
		<h2>New User Creation</h2>
		<table>
			<tr>
				<td class="label">Username</td>
				<td class="input"><input type="text" name="username"></td>
			</tr>
			<tr>
				<td class="label">Password</td>
				<td class="input"><input type="password" name="password"></td>
			</tr>
			<tr>
				<td class="submit" colspan="2"><input type="submit" value="Login" /></td>
			</tr>
		</table>
	</form>
</div>
{% endblock %}