{% extends "settings_base.html" %}
{% set setting_menu = 'webui' %}
{% block settings_content %}
<form action="/ui/settings/webui" method="post">
	<label for="web_theme">Web Theme</label>
	<select name="web_theme">
		<option value="glass" {% if web_theme == 'glass' %}selected{% endif %} />Glass</option>
		<option value="glass-pvs" {% if web_theme == 'glass-pvs' %}selected{% endif %} />Glass (With PVS)</option>
		<option value="glass-header" {% if web_theme == 'glass-header' %}selected{% endif %} />Glass (With Header)</option>
	</select>
	<label for="web_header">Header Text</label>
	<input type="text" name="web_header" value="{{ web_header }}" />
	<label for="web_images">Display Images</label>
	<select name="web_images">
		<option value="0" {% if web_images == 0 %}selected{% endif %} />Disabled</option>
		<option value="1" {% if web_images == 1 %}selected{% endif %} />Enabled</option>
	</select>
	<label for="web_image_delay">Image Update Delay</label>
	<input type="text" name="web_image_delay" value="{{ web_image_delay }}" />
	<label for="web_image_max">Maximum Simultaneous Images</label>
	<input type="text" name="web_image_max" value="{{ web_image_max }}" />
	<label for="web_accounts">Display Accounts</label>
	<select name="web_accounts">
		<option value="0" {% if web_accounts == 0 %}selected{% endif %} />Disabled</option>
		<option value="1" {% if web_accounts == 1 %}selected{% endif %} />Enabled</option>
	</select>
	<label for="web_account_delay">Account Update Delay</label>
	<input type="text" name="web_account_delay" value="{{ web_account_delay }}" />
	<label for="web_account_max">Maximum Simultaneous Accounts</label>
	<input type="text" name="web_account_max" value="{{ web_account_max }}" />
	<label for="web_stats">Display Statistics</label>
	<select name="web_stats">
		<option value="0" {% if web_stats == 0 %}selected{% endif %} />Disabled</option>
		<option value="1" {% if web_stats == 1 %}selected{% endif %} />Enabled</option>
	</select>
	<label for="web_stat_delay">Statistics Update Delay</label>
	<input type="text" name="web_stat_delay" value="{{ web_stat_delay }}" />
	<label for="web_stat_max">Maximum Protocols Displayed</label>
	<input type="text" name="web_stat_max" value="{{ web_stat_max }}" />
	<label for="web_pvs_enabled">Display PVS Vulnerability Data</label>
	<select name="web_pvs_enabled">
		<option value="0" {% if web_pvs == 0 %}selected{% endif %} />Disabled</option>
		<option value="1" {% if web_pvs == 1 %}selected{% endif %} />Enabled</option>
	</select>
	<label for="web_pvs_delay">Vulnerability Update Delay</label>
	<input type="text" name="web_pvs_delay" value="{{ web_pvs_delay }}" />
	<label for="web_pvs_max">Maximum Vulnerabilities Displayed</label>
	<input type="text" name="web_pvs_max" value="{{ web_pvs_max }}" />
	<label for="pvs_host">PVS Address</label>
	<input type="text" name="pvs_host" value="{{ pvs_host }}" />
	<label for="pvs_user">PVS Username</label>
	<input type="text" name="pvs_user" value="{{ pvs_user }}" />
	<label for="pvs_password">PVS Password</label>
	<input type="text" name="pvs_password" value="{{ pvs_password }}" />
	<label for="web_display_settings">Display Settings Icon/Button</label>
	<select name="web_display_settings">
		<option value="0" {% if web_display_settings == 0 %}selected{% endif %} />Disabled</option>
		<option value="1" {% if web_display_settings == 1 %}selected{% endif %} />Enabled</option>
	</select>
	<br />
	<input type="submit" value="Update" />
</form>
{% endblock %}