{% extends "settings_base.html" %}
{% set setting_menu = 'users' %}
{% block settings_content %}
<table id="user-table">
	<tr>
		<th>Username</th>
		<th>Password</th>
		<th>Action</th>
	</tr>
	<tbody>
		<form id="newuser" action="/ui/settings/users" method="post">
			<tr>
				<td><input type="text" name="username" /></td>
				<td><input type="password" name="password" /></td>
				<td><input type="submit" value="Create" name="action" /></td>
			</tr>
		</form>
		{% for user in users %}
		<form id="{{ user.name }}" action="/ui/settings/users" method="post">
			<tr>
				<td><input type="text" name="username" value="{{ user.name }}" /></td>
				<td><input type="password" name="password" /></td>
				<td>
					<input type="submit" value="Update" name="action" />
					<input type="submit" value="Remove" name="action" />
				</td>
			</tr>
		</form>
		{% endfor %}
	</tbody>
</table>
{% endblock %}