{% extends "settings_base.html" %}
{% setting_menu = 'api' %}
{% block settings_content %}
<p>
	Please note that for any changes to the API configuration to take effect,
	you will need to restart DoFler.
</p>
<form action="/ui/settings/api" method="post">
	<label for="api_host">Host</label>
	<input type="text" name="api_host" value="{{ api_host }}" />
	<label for="api_port">Port</label>
	<input type="text" name="api_port" value="{{ api_port }}" />
	<label for="api_app_server">Application Server</label>
	<input type="text" name="api_app_server" value="{{ api_app_server }}" />
	<label for="database">Database Backend</label>
	<input type="text" name="database" value="{{ database }}" />
	<label for="cookie_key">Cookie Key</label>
	<input type="text" name="cookie_key" value="{{ cookie_key }}" />
	<label for="api_debug">Debugging</label>
	<select name="api_debug">
		<option value="0" {% if api_debug == 0 %}selected{% endif %} />Disabled</option>
		<option value="1" {% if api_debug == 1 %}selected{% endif %} />Enabled</option>
	</select>
	<input type="submit" value="Update" />
</form>
{% endblock %}