{% extends "base.html" %}
{% block title %}Settings{% endblock %}
{% block navbar %}<li><a href="/">Return</a></li> | {% endblock %}
{% block content %}
<div id="ui-settings">
	<form action="/ui/settings" method="post">
	<table>
		<tbody>
			<tr>
				<td class="header" colspan="2">
					<h2>Central Server Settings</h2>
					<p>
						These settings only need to be adjusted if this sensor
						needs to speak to a central server.  In most single-server
						setups, there is no need to adjust these.
					</p>
				</th>
			</tr>
			<tr>
				<td class="label">Server Host</td>
				<td class="input"><input type="text" name="server_host" value="{{ server_host }}" /></td>
			</tr>
			<tr>
				<td class="label">Server Port</td>
				<td class="input"><input type="text" name="server_port" value="{{ server_port }}" /></td>
			</tr>
			<tr>
				<td class="label">Server SSL</td>
				<td class="input">
					<select name="server_ssl">
						<option value="0" {% if server_ssl == 0 %}selected{% endif %} />Disabled</option>
						<option value="1" {% if server_ssl == 1 %}selected{% endif %} />Enabled</option>
					</select>
				</td>
			</tr>
			<tr>
				<td class="label">Server Username</td>
				<td class="input"><input type="text" name="server_username" value="{{ server_username }}" /></td> 
			</tr>
			<tr>
				<td class="label">Server Password</td>
				<td class="input"><input type="password" name="server_password" value="1234567890" /></td>
			</tr>
			<tr>
				<td class="label">Anonymize Data<small><p>This setting will anonymize the account passwords if set.</p></small></td>
				<td class="input">
					<select name="server_anonymize">
						<option value="0" {% if server_anonymize == 0 %}selected{% endif %} />Disabled</option>
						<option value="1" {% if server_anonymize == 1 %}selected{% endif %} />Enabled</option>
					</select>
				</td>
			</tr>
		</tbody>
		<tbody>
			<tr>
				<td class="header" colspan="2">
					<h2>API Settings</h2>
					<p>
						These settings pertain to the back-end API and this WebUI.
						These only need to be adjusted if you plan on exposing the 
						API &amp; WebUI to the network.
					</p>
				</td>
			</tr>
			<tr>
				<td class="label">API Address</td>
				<td class="input"><input type="text" name="api_host" value="{{ api_host }}" /></td>
			</tr>
			<tr>
				<td class="label">API Port</td>
				<td class="input"><input type="text" name="api_port" value="{{ api_port }}" /></td> 
			</tr>
			<tr>
				<td class="label">API App Server</td>
				<td class="input"><input type="text" name="api_app_server" value="{{ api_app_server }}" /></td>
			</tr>
			<tr>
				<td class="label">API Debugging</td>
				<td class="input">
					<select name="api_debug">
						<option value="0" {% if api_debug == 0 %}selected{% endif %} />Disabled</option>
						<option value="1" {% if api_debug == 1 %}selected{% endif %} />Enabled</option>
					</select>
				</td>
			</tr> 
		</tbody>
		<tbody>
			<tr>
				<td class="header" colspan="2">
					<h2>Logging</h2>
					<p>
						These settings control how DoFler handles logging.
					</p>
				</td>
			</tr>
			<tr>
				<td class="label">Log to Console</td> 
				<td class="input">
					<select name="log_console">
						<option value="0" {% if log_console == 0 %}selected{% endif %} />Disabled</option>
						<option value="1" {% if log_console == 1 %}selected{% endif %} />Enabled</option>
					</select>
				</td>
			</tr>
			<tr>
				<td class="label">Console Log Level</td>
				<td class="input">
					<select name="log_console_level">
						<option value="debug" {% if log_console_level == 'debug' %}selected{% endif %} />DEBUG</option>
						<option value="info" {% if log_console_level == 'info' %}selected{% endif %} />INFO</option>
						<option value="warn" {% if log_console_level == 'warn' %}selected{% endif %} />WARN</option>
						<option value="error" {% if log_console_level == 'error' %}selected{% endif %} />ERROR</option>
						<option value="critical" {% if log_console_level == 'critical' %}selected{% endif %} />CRITICAL</option>
					</select>
				</td>
			</tr>
			<tr>
				<td class="label">Log to File</td>
				<td class="input">
					<select name="log_file">
						<option value="0" {% if log_file == 0 %}selected{% endif %} />Disabled</option>
						<option value="1" {% if log_file == 1 %}selected{% endif %} />Enabled</option>
					</select>
				</td>
			</tr>
			<tr>
				<td class="label">Log File Location</td>
				<td class="input"><input type="text" name="log_file_path" value="{{ log_file_path }}" /></td>
			</tr>
			<tr>
				<td class="label">Logfile Log Level</td>
				<td class="input">
					<select name="log_file_level">
						<option value="debug" {% if log_file_level == 'debug' %}selected{% endif %} />DEBUG</option>
						<option value="info" {% if log_file_level == 'info' %}selected{% endif %} />INFO</option>
						<option value="warn" {% if log_file_level == 'warn' %}selected{% endif %} />WARN</option>
						<option value="error" {% if log_file_level == 'error' %}selected{% endif %} />ERROR</option>
						<option value="critical" {% if log_file_level == 'critical' %}selected{% endif %} />CRITICAL</option>
					</select>
				</td>
			</tr>
		</tbody>
		<tbody>
			<tr>
				<td class="header" colspan="2">
					<h2>WebUI Settings</h2>
					<p>
						These settings relate to how the WebUI behaves.  Things like the 
						UI refresh times &amp; what items to display.
					</p>
				</td>
			</tr>
			<tr>
				<td class="label">Display Image Results</td>
				<td class="input">
					<select name="web_images">
						<option value="0" {% if web_images == 0 %}selected{% endif %} />Disabled</option>
						<option value="1" {% if web_images == 1 %}selected{% endif %} />Enabled</option>
					</select>
				</td>
			</tr>
			<tr>
				<td class="label">Image Update Delay</td>
				<td class="input"><input type="text" name="web_image_delay" value="{{ web_image_delay }}" /></td> 
			</tr>
			<tr>
				<td class="label">Max Images Onscreen</td>
				<td class="input"><input type="text" name="web_image_max" value="{{ web_image_max }}" /></td>
			</tr>
			<tr>
				<td class="label">Display Captured Accounts</td>
				<td class="input">
					<select name="web_accounts">
						<option value="0" {% if web_accounts == 0 %}selected{% endif %} />Disabled</option>
						<option value="1" {% if web_accounts == 1 %}selected{% endif %} />Enabled</option>
					</select>
				</td>
			</tr>
			<tr>
				<td class="label">Account Update Delay</td>
				<td class="input"><input type="text" name="web_account_delay" value="{{ web_account_delay }}" /></td>
			</tr>
			<tr>
				<td class="label">Max Accounts Onscreen</td>
				<td class="input"><input type="text" name="web_account_max" value="{{ web_account_max }}" /></td>
			</tr>
			<tr>
				<td class="label">Display Protocol Trending</td>
				<td class="input">
					<select name="web_stats">
						<option value="0" {% if web_stats == 0 %}selected{% endif %} />Disabled</option>
						<option value="1" {% if web_stats == 1 %}selected{% endif %} />Enabled</option>
					</select>
				</td>
			</tr>
			<tr>
				<td class="label">Protocol Trending Update Delay</td>
				<td class="input"><input type="text" name="web_stat_delay" value="{{ web_stat_delay }}" /></td>
			</tr>
			<tr>
				<td class="label">Max Protocols Onscreen</td>
				<td class="input"><input type="text" name="web_stat_max" value="{{ web_stat_max }}" /></td>
			</tr>
		</tbody>
		<tbody>
			<tr>
				<td class="header" colspan="2">
					<h2>Parser Settings</h2>
					<p>
						Parser related settings, such as which parsers are enabled,
						should we autostart the enabled parsers, and what are the actual
						commands being run to spawn the appropriate app.
					</p>
				</td>
			</tr>
			<tr>
				<td class="label">Autostart Enabled Parsers</td>
				<td class="input">
					<select name="autostart">
						<option value="0" {% if autostart == 0 %}selected{% endif %} />Disabled</option>
						<option value="1" {% if autostart == 1 %}selected{% endif %} />Enabled</option>
					</select>
				</td>
			</tr>
			<tr>
				<td class="label">Listening Interface</td>
				<td class="input"><input type="text" name="listen_interface" value="{{ listen_interface }}" /></td> 
			</tr>
			<tr>
				<td class="label">Account Parser Enabled</td>
				<td class="input">
					<select name="ettercap_enabled">
						<option value="0" {% if ettercap_enabled == 0 %}selected{% endif %} />Disabled</option>
						<option value="1" {% if ettercap_enabled == 1 %}selected{% endif %} />Enabled</option>
					</select>
				</td>
			</tr>
			<tr>
				<td class="label">Account Parser Command</td>
				<td class="input"><input type="text" name="ettercap_command" value="{{ ettercap_command }}" /></td>
			</tr>
			<tr>
				<td class="label">Images Parser Enabled</td>
				<td class="input">
					<select name="driftnet_enabled">
						<option value="0" {% if driftnet_enabled == 0 %}selected{% endif %} />Disabled</option>
						<option value="1" {% if driftnet_enabled == 1 %}selected{% endif %} />Enabled</option>
					</select>
				</td>
			</tr>
			<tr>
				<td class="label">Images Parser Command</td>
				<td class="input"><input type="text" name="driftnet_command" value="{{ driftnet_command }}" /></td>
			</tr>
			<tr>
				<td class="label">Stats Parser Enabled</td>
				<td class="input">
					<select name="tshark_enabled">
						<option value="0" {% if tshark_enabled == 0 %}selected{% endif %} />Disabled</option>
						<option value="1" {% if tshark_enabled == 1 %}selected{% endif %} />Enabled</option>
					</select>
				</td>
			</tr>
			<tr>
				<td class="label">Stats Parser Command</td>
				<td class="input"><input type="text" name="tshark_command" value="{{ tshark_command }}" /></td>
			</tr>
		</tbody>
	</table>
	<input type="submit" value="Save Settings" />
	</form>
</div>
						
{% endblock %}