{% extends "base.html" %}
{% block title %}Settings{% endblock %}
{% block content %}
<div id="settings-sidebar">
	<h2>General</h2>
	<ul>
		<li>
			<a href="/ui/">
				<img src="/ui/static/images/ui_back.png" />Return to WebUI
			</a>
		</li>
		{% if auth %}
		<li {% if setting_menu == 'login' %}id="selected"{% endif %}>
			<a href="/ui/settings/login">
				<img src="/ui/static/images/settings_login.png" />Log Off
			</a>
		</li>
		<li {% if setting_menu == 'users' %}id="selected"{% endif %}>
			<a href="/ui/settings/users">
				<img src="/ui/static/images/settings_users.png" />User Management
			</a>
		</li>
		{% else %}
		<li {% if setting_menu == 'login' %}id="selected"{% endif %}>
			<a href="/ui/settings/login">
				<img src="/ui/static/images/settings_login.png" />Log In
			</a>
		</li>
		{% endif %}
		<li {% if setting_menu == 'docs' %}id="selected"{% endif %}>
			<a href="/ui/settings/docs">
				<img src="/ui/static/images/doc.png" />Documentation
			</a>
		</li>
	</ul>
	{% if auth %}
	<h2>Client/Server Settings</h2>
	<ul>
		<li {% if setting_menu == 'server' %}id="menu_selected"{% endif %}>
			<a href="/ui/settings/server">
				<img src="/ui/static/images/settings_server.png" />Server
			</a>
		</li>
		<li {% if setting_menu == 'api' %}id="menu_selected"{% endif %}>
			<a href="/ui/settings/api">
				<img src="/ui/static/images/settings_api.png" />API
			</a>
		</li>
	</ul>
	<h2>Web Interface</h2>
	<ul>
		<li {% if setting_menu == 'webui' %}id="menu_selected"{% endif %}>
			<a href="/ui/settings/webui">
				<img src="/ui/static/images/settings_webui.png" />Web Front-End
			</a>
		</li>
	</ul>
	<h2>Parsers</h2>
	<ul>
		<li {% if setting_menu == 'parsers' %}id="menu_selected"{% endif %}>
			<a href="/ui/settings/parsers">
				<img src="/ui/static/images/settings_parsers.png" />Parser Settings
			</a>
		</li>
		<li {% if setting_menu == 'services' %}id="menu_selected"{% endif %}>
			<a href="/ui/settings/services">
				<img src="/ui/static/images/settings_services.png" />Service Status
			</a>
		</li>
	</ul>
	{% endif %}
</div>
<div id="settings-content">
	{% block settings_content %}
	<p>DoFler {{ vinfo['version'] }}</p>
	<p>Written By: {{ vinfo['author'] }}</p>
	<p>Devblog: <a href="{{ vinfo['website'] }}">{{ vinfo['website'] }}</a></p>
	<p>Code Repository: <a href="{{ vinfo['repository'] }}">{{ vinfo['repository'] }}</a></p>
	<p>Issue Tracker: <a href="{{ vinfo['repository'] }}/issues">{{ vinfo['repository'] }}</a></p>
	{% endblock %}
</div>
{% endblock %}