@import url(http://fonts.googleapis.com/css?family=Open+Sans+Condensed:300,700);

html {
	font-family: sans-serif;
	font-weight: 300;
	background-color: #000;
}

td.text {
	/*-webkit-text-stroke: 2px #000; */
	background-color: rgba(0,0,0,0.6);
	border-radius: 2px;
}

/* Image Display */

#images-display {
	height: 100%;
	width: 100%;
	overflow: hidden;
	background-color: #000;
}

#images-display img {
	padding: 1px;
	max-width: 400px;
	max-height: 400px;
	display: block;
	float: left;
}

#image-container {
	max-height: 100%;
	max-width: 100%;
	overflow: hidden;
	background-color: #000;
}

/* Multiple Content Display */

#multi-display {
	padding-left: 10px;
	padding-right: 10px;
	height: 100%;
	width: 40%;
	min-width: 460px;
	position: absolute;
	right: 0px;
	top: 0px;
	display: block;
	background-color: rgba(0,0,0,0.45);
	color: #FFF;
}

#multi-display h1 {
	padding-top: 0px;
	font-size: 1.2em;
	border-bottom: solid 1px #FFF;
	margin-right: 10px;
}

/* Account Display Section */

#account-display {
	padding-bottom: 10px;
	height: 50%;
}

#account-display table {
	width: 100%;
	color: #FFF;
	overflow: hidden;
	white-space: nowrap;
}

/* Protocol Trending Section */

#proto-wrapper {
	height: 50%;
	width: 100%;
	overflow: hidden;
}

#proto-trend {
	width: 100%; 
	height: 80%;
	background-color: rgba(0,0,0,0.6);
	border-radius: 2px;
}

.legend table {
	background-color: rgba(0,0,0,0.6);
	color: #000;
	border-radius: 2px;
}

.legendLabel {color: #FFF;}

.flot-tick-label {color: #FFF;}