<html>
	<head>
		<title>Dofler 4.2 Test Layout</title>
		<link rel="stylesheet" href="/ui/static/themes/glass-pvs.css" />
		<script type="text/javascript" src="/ui/static/jquery.min.js"></script>
		<script type="text/javascript" src="/ui/static/jquery.flot.min.js"></script>
		<script type="text/javascript" src="/ui/static/jquery.flot.time.min.js"></script>
		<script type="text/javascript" src="/ui/static/display.js"></script>
	</head>
	<body>
		<div id="content">
			<div id="image-container">
				<div id="images-display">
				</div>
			</div>
			<div id="multi-display">
				<div id="account-display">
					<h1>Accounts Capured</h1>
					<table id="accounts-table">
						<tbody></tbody>
					</table>
				</div>
				<div id="vuln-display">
					<h1>Top Vulnerable Hosts</h1>
					<table id="vuln-table">
						<tbody></tbody>
					</table>
				</div>
				<div id="proto-wrapper">
					<h1>Protocol Trending</h1>
					<div id="proto-trend">
					</div>
				</div>
			</div>
		</div>
		<div id="messages"></div>
	</body>
</html>
